* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

header {
  font-family: sans-serif;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

.menu a {
  text-decoration: none;
  color: #bdbdbd; /* Light Grey */
  padding: 4px 20px;
  font-size: 16px;
}

.contact-btn {
  color: #bdbdbd; /* Light Grey */
  padding: 4px 20px;
  font-size: 16px;
  border: none;
  background-color: Transparent;
  cursor: pointer;
}

.contact-box {
  position: relative;
  display: inline-block;
  float:none;
}

.contact-box-content {
  /* id=myDropdown */
  display: none;
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  top: 80px;
  margin-right: auto;
  margin-left: auto;
  /* give it dimensions */
  min-height: 25em;
  width: 75%;
}

.in-contact-btn {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 2px;
}

.in-contact-btn > div {
  display: flex;
  flex-direction: row;
  opacity: 50%;
}

.show {
  display:block;
}

.logo-name {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 85px 0 35px 0;
}

.logo-name a {
  text-decoration: none;
  font-weight: bold;
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 15px;
  color: #666666; /* Dark Grey */
  padding: 10px 50px;
}

.proj-name {
  position: static;
}

.current-page {
  border: 1px dotted #fff;
  border-radius: 2px;
  background-color: #f6f6f6; /* Very Light Grey */
}

section {
  justify-content: inherit;
  width: 100%;
}

.about-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.about-box img{
  width: 92%;
}

.about-box-text {
  font-family: sans-serif;
  margin: 50px 15px;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-box-main {
  font-family: sans-serif;
  margin: 50px 15px;
  text-align: center;
}

.form-box-main > form > label {
  font-family: sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

.input-area {
  height: 2.4em;
  border:#000000;
  background-color:#f3f3f3;
  font-family: sans-serif;
  color:rgb(85, 85, 85);
  font-size: 15px;
  text-align: center;
  padding: 3px;
  font-weight: bold;
}

textarea {
  width: 435px;
  height: 175px;
  background-color:#f3f3f3;
  border:#000000;
  font-family: sans-serif;
  color:rgb(85, 85, 85);
  font-size: 15px;
  padding: 5px;
}

#submit-btn {
  width: 435px;
  height: 2em;
  background-color: rgb(236, 236, 236);
  border: none;
  color: #666666;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

#submit-btn:hover {
  background-color:#f6f6f6;
}

.intro {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 35px;
  margin: 40px 0 0 0;
  color: #bdbdbd; /* Light Grey */
  text-transform: uppercase;
}

.intro p {
  font-family: sans-serif;
  font-weight: bold;
}

.grid {
  width: inherit;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.grid-img {
  width: 48%;
  height: 203px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin: 2px;
}

.grid-img p {
  position: absolute;
  margin: 5px;
  visibility: hidden;
  color: #000000; /* Black */
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  word-break: normal;
}

.grid-img:hover p{
  visibility: visible;
}

.move-up {
  visibility: visible;
  display: flex;
  justify-content: center;
  margin: 45px auto 10px auto;
  text-transform: lowercase;
}

.move-up a{
  text-decoration: none;
  color: #bdbdbd; /* Light Grey */
  padding: 12px;
  font-family: sans-serif;
}

footer {
  margin: 65px 0 25px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #bdbdbd; /* Light Grey */
  font-family: sans-serif;
}

.proj-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-family: sans-serif;
  text-transform: uppercase;
}

.intro-image {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 350px;
  margin-top: 50px;
}

.intro-image h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  text-decoration: none;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 11px;
  color: #ffffff; /* White */
  text-align: center;
}

.intro-image img{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.proj-text {
  margin: 25px;
}

.proj-text h2,
.proj-text h3{
  text-align: center;
}

.proj-text h2 {
  font-size: 15px;
}

.proj-text h3 {
  font-size: 12px;
}

.proj-description p{
  font-size: 14px;
  text-transform: none;
}

.proj-images {
  display: flex;
  flex-wrap: wrap;
}

.proj-images-column {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
  text-align: center;
}

.proj-images-column img{
  display: absolute;
  width: 100%;
  margin-top: 8px;
  vertical-align: middle;
}

.proj-images-column > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.proj-images-column > div > div {
  margin: 4px 1px;
  width: 48%;
}

.proj-images-column a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  align-items: center;
}

.proj-images-column a > p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 55px;
  text-transform: uppercase;
  letter-spacing: 25px;
}

.proj-name > p {
  display: relative;
  font-size: 9px;
  font-style: oblique;
  text-align: center;
}

.resume-box {
  margin: 50px 10px 10px 10px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.resume-box p{
  text-align: center;
}

.resume-box h6{
  font-size: 13px;
  text-transform: none;
  font-weight: normal;
}

.resume-box-sub {
  display: flex;
  flex-direction: column;
  margin: 25px 5px;
}

.resume-box-left p,
.resume-box-right p{
  font-size: 13px;
}

.resume-box ul{
  list-style-type: none;
  text-transform: none;
  font-weight: bold;
  font-size: 13px;
}

.print-pdf {
  margin: 50px 0 0 0;
  font-family: sans-serif;
  text-transform: uppercase;
}

.print-pdf > a {
  text-decoration: none;
  color: grey;
}

.media-box {
  display: flex;
  justify-content: space-between;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  text-transform: uppercase;
}

.bottom-about-container {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  text-transform: uppercase;
}

.bottom-container a{
  text-decoration: none;
  color: #bdbdbd; /* Light Grey */
}

.bottom-about-container a{
  text-decoration: none;
  color: #bdbdbd; /* Light Grey */
}

.btm-container-left {
  width: 300px;
  height: 50px;
  margin: 45px 0 0 25px;
}

.btm-container-right {
  text-align: right;
  width: 300px;
  height: 50px;
  margin: 45px 25px 0 0;
}

.btm-about-right {
  text-align: center;
  width: 300px;
  height: 50px;
  margin: 90px 0 0 0;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    width: 960px;
    text-wrap: wrap;
  }
  .contact-box-content {
    width: 5%;
  }
  .logo-name a{
    padding: 25px 50px 0 50px;
  }
  .proj-name p{
    padding: 25px 50px 0 50px;
  }
  .intro {
    justify-content: flex-start;
    margin-left: 5px;
  }
  .grid-img {
    width: 236px;
    height: 350px;
  }
  .grid-img:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  .move-up {
    visibility: visible;
    display: relative;
    position: fixed;
    right: 3%;
    bottom: 4%;
    text-transform: lowercase;
  }
  .move-up a{
    text-decoration: none;
    color: #bdbdbd; /* Light Grey */
    padding: 15px;
  }
  .intro-image {
    height: 550px;
  }
  .intro-image img{
    height: 550px;
  }
  .proj-text {
    margin: 25px 0 35px 0;
  }
  .proj-text h2,
  .proj-text h3{
    text-align: left;
  }
  .proj-text p{
    column-count: 2;
    column-fill: balance;
  }
  .proj-name > p {
    font-size: 9px;
    font-style: oblique;
    margin-top: -25px;
    margin-left: -50px;
    text-align: left;
  }
  .proj-images-column {
    flex: 50%;
    max-width: 50%;
  }
  .resume-box p{
    text-align: left;
  }
  .resume-box-left {
    width: 25%;
  }
  .resume-box-right {
    width: 95%;
  }
  .resume-box-left,
  .resume-box-right {
    margin: 0 0 0 5px;
  }
  .resume-box-left ul{
    text-transform: none;
  }
  .resume-box-sub {
    flex-direction: row;
    margin: 15px 0 10px 5px;
  }
  .about-box-text {
    margin: 60px 180px;
  }
  .about-box img{
    width: 62%;
  }
  .bottom-container {
    width: 960px;
    margin: 0 auto;
  }
  .btm-container-left,
  .btm-container-right {
    margin: 45px 0 0 0;
  }
  .btm-about-right {
    margin: 30px 0 0 0;
  }
  .form-box-main {
    text-align: left;
  }
  textarea {
    height: 250px;
  }
  .input-area {
    text-align: left;
  }
}
